.editorial {
    padding: 70px 0;

    text-align: center;

    border-top: 1px solid var(--cor-azul-cinza);
}


.editorial__categoria {
    display: block;

    margin-bottom: 15px;

    font-family: var(--fonte-texto);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.2em;

    color: var(--cor-azul-cinza);
}


.editorial h1 {
    margin-bottom: 20px;

    font-size: 3.5rem;
    color: var(--cor-azul-escuro);
}


.editorial__introducao {
    max-width: 650px;
    margin: 0 auto 25px;

    font-family: var(--fonte-titulo);
    font-size: 1.25rem;
}


.editorial p:not(.editorial__introducao) {
    max-width: 700px;
    margin: 0 auto 15px;

    font-family: var(--fonte-texto);
}


.editorial .botao {
    display: inline-block;

    margin-top: 25px;
    padding: 12px 25px;

    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);

    font-family: var(--fonte-texto);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.1em;

    text-decoration: none;
}


.editorial .botao:hover {
    background-color: var(--cor-azul-cinza);
}